body {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
ul {
  list-style-type: none;
  width: 400px;
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    display: flex;
    justify-content: center;
    justify-items: center;
    background: none;
    width: 100vw;
    height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(
      0deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(45, 253, 69, 0.6977077363896849) 84%
    );
  }
  ul {
    list-style-type: none;
    width: 300px;
    font-size: 13px;
  }
}
